{{template "base" .}}

{{define "subtitle"}}Not Found - {{end}}

{{define "canonical-url"}}<link rel="canonical" href="/404">{{end}}

{{define "body"}}
<div class="grid-x grid-padding-x">
  <div class="cell small-8 small-offset-2">
    {{if eq .SayingIndex 0}}
    <h2>Well this is <i>awkward</i>...I couldn't find what you were looking for!</h2>   
    <p>(better get back to playing then, <b>hm</b>?)</p>
    {{else if eq .SayingIndex 1}}
    <h2>Whoa there! Looks like you've taken a wrong turn.</h2>
    <p>(no one <i>tries</i> to get on highway 404, <b>no one</b>.)</p>
    {{else if eq .SayingIndex 2}}
    <h2>There's nothing to see here. *waves hand*</h2>
    <p>(did Mirio put you up to this?)</p>
    {{else if eq .SayingIndex 3}}
    <h2>Hey, you! Watch out - Smilecythe's behind you!</h2>
    <p>(he killed this page, apparently)</p>
    {{else if eq .SayingIndex 4}}
    <h2>Mario refactored this page into something else.</h2>
    <p>(it wasn't pulling its own weight anyway)</p>
    {{else if eq .SayingIndex 5}}
    <h2>divVerent has encrypted this page so hard you'll never decipher it.</h2>
    <p>(either that or you've hit the wrong page or something)</p>
    {{else if eq .SayingIndex 6}}
    <h2>merlijn was unhappy with this page, so he removed it from the server.</h2>
    <p>(after yelling at me about it, of course)</p>
    {{else if eq .SayingIndex 7}}
    <h2>Morphed is modeling this page. It's gonna be awesome.</h2>
    <p>(until then, you'll probably want to get in a game or two)</p>
    {{end}}
  </div>
</div>
{{end}}
