{{template "base" .}}

{{define "subtitle"}}Active Maps Index - {{end}}

{{define "title"}}Active Maps Index{{end}}

{{define "canonical-url"}}<link rel="canonical" href="/maps">{{end}}

{{define "body"}}
<div class="grid-x grid-padding-x">
  <div class="cell small-12 large-4 large-offset-4">
  {{if eq (len .ActiveMaps) 0 }}
    {{if eq .Start 1}}
    <h2 class="text-center">No active maps found. Yikes, get playing!</h2>
    {{else}}
    <h2 class="text-center">Sorry, no more maps!</h2>
    {{end}}
  {{else}}
    {{template "activemaps.partial.html" .ActiveMaps}}
  {{end}}
  </div>

  {{if .ShowMoreLink}}
  <div class="cell small-12 large-4 large-offset-4">
    <a  href="{{urlFor "topmaps"}}?start={{.Next}}" name="Next Page">Next <i class="fa fa-arrow-right"></i></a>
  </div>
  {{end}}
</div>
{{end}}
