{{template "base" .}}

{{define "subtitle"}}Active Players Index - {{end}}

{{define "title"}}Active Players Index{{end}}

{{define "canonical-url"}}<link rel="canonical" href="/topactive">{{end}}

{{define "body"}}
<div class="grid-x grid-padding-x">
  <div class="cell small-12 large-4 large-offset-4">
  {{if eq (len .ActivePlayers) 0 }}
    {{if eq .Start 1}}
    <h2 class="text-center">No active players found. Yikes, get playing!</h2>
    {{else}}
    <h2 class="text-center">Sorry, no more players!</h2>
    {{end}}
  {{else}}
    {{template "activeplayers.partial.html" .ActivePlayers}}
  {{end}}
  </div>

  {{if .ShowMoreLink}}
  <div class="cell small-12 large-4 large-offset-4">
    <a  href="{{urlFor "topactive"}}?start={{.Next}}" name="Next Page">Next <i class="fa fa-arrow-right"></i></a>
  </div>
  {{end}}
</div>
{{end}}
