    <table class="table-hover table-condensed">
      <thead>
        <tr>
          <th class="small-2">#</th>
          <th class="small-7">Map</th>
          <th class="small-3">Games</th>
        </tr>
      </thead>
      <tbody>
      {{range .}}
        <tr>
          <td>{{.SortOrder}}</td>
          <td class="no-stretch"><a href="{{urlFor "map_info" (intToString .MapID)}}" title="Go to the map info page for {{.MapName}}">{{.MapName}}</a></td>
          <td>{{.Games}}</td>
        </tr>
      {{end}}
      </tbody>
    </table>