      <table class="table-hover table-condensed">
        <thead>
          <tr>
            <th class="small-2">#</th>
            <th class="small-7">Nick</th>
            <th class="small-3">Score</th>
          </tr>
        </thead>
        <tbody>
        {{range .}}
          <tr>
            <td>{{.SortOrder}}</td>
            <td class="no-stretch"><a href="{{urlFor "player_info" (intToString .PlayerID)}}" title="Go to the player info page for this player">{{.NickHTML}}</a></td>
            <td>{{.Score}}</td>
          </tr>
        {{end}}
        </tbody>
      </table>
