{{define "base"}}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="XonStat: Player statistics for the free and fast shooter Xonotic.">
    <meta name="author" content="Ant 'Antibody' Zucaro">

    <title>{{- block "subtitle" . -}}{{end}}XonStat: Player Statistics for Xonotic </title>

    <link rel="shortcut icon" href="/static/favicon.ico">

    {{block "canonical-url" .}}
    {{end}}

    {{block "css" .}}
    {{- /* FOR DEVELOPMENT USE
      <link href="/static/css/foundation.css" rel="stylesheet">
      <link href="/static/css/font-awesome.min.css" rel="stylesheet">
      <link href="/static/css/app.css" rel="stylesheet">
      <link href="/static/css/luma.css" rel="stylesheet">
    */ -}}
      <link href="/static/css/xonstat-1e6a4.css" rel="stylesheet">
    {{end}}

    {{block "extra-css" .}}
    {{end}}

  </head>

  <body>
    {{block "navigation" .}}
      {{template "nav.partial.html"}}
    {{end}}

    {{block "hero_unit" .}}
    {{end}}

    <div class="grid-x grid-padding-x">
      <div class="cell large-10 large-offset-1 small-12">
        <div id="title">
          {{block "title" .}}
          {{end}}
        </div>

        {{block "body" .}}
        {{end}}

      </div>
    </div>

    {{block "footer" .}}
      {{template "footer.partial.html"}}
    {{end}}

    {{block "js" .}}
      <script type='text/javascript' src='/static/js/vendor/jquery.min.js'></script>
      <script src="/static/js/vendor/foundation.min.js"></script>
      <script src="/static/js/app.js"></script>
      <script data-goatcounter="https://analytics.xonotic.org/count" async src="//analytics.xonotic.org/count.js"></script>
    {{end}}

    {{block "extra-js" .}}
    {{end}}

  </body>
</html>
{{end}}
