<div id="footer">
    <div class="grid-x grid-padding-x">
        <div class="cell small-12 medium-2 medium-offset-2">
            <h4>Home</h4>
            <ul>
                <li><a href="http://www.xonotic.org/download" title="get the game">Download</a></li>
                <li><a href="http://www.xonotic.org/posts/" title="read the blog">Blog</a></li>
                <li><a href="/" title="see latest game and player statistics">Stats</a></li>
                <li><a href="http://www.xonotic.org/team/" title="meet team xonotic">Team Xonotic</a></li>
                <li><a href="http://www.xonotic.org/faq/" title="read the faq">FAQ</a></li>
            </ul>
        </div>

        <div class="cell small-12 medium-2">
            <h4>Media</h4>
            <ul>
                <li><a href="http://www.xonotic.org/images/"
                        title="view images and screenshots of Xonotic">Screenshots</a></li>
                <li><a href="http://www.xonotic.org/videos/" title="view videos about Xonotic">Videos</a></li>
            </ul>
        </div>

        <div class="cell small-12 medium-2">
            <h4>Development</h4>
            <ul>
                <li><a href="https://gitlab.com/groups/xonotic" title="source code">Source code (git)</a></li>
                <li><a href="https://gitlab.com/groups/xonotic/issues?project_id=&amp;scope=all&amp;state=opened"
                        title="development tracker">Issue Tracker</a></li>
                <li><a href="https://gitlab.com/xonotic/xonotic/wikis/home" title="Wiki">Wiki</a></li>
            </ul>
        </div>

        <div class="cell small-12 medium-2">
            <h4>Forums</h4>
            <ul>
                <li><a href="http://forums.xonotic.org/member.php?action=register"
                        title="register for the forums">Register</a></li>
                <li><a href="http://forums.xonotic.org/memberlist.php" title="view the forum member list">Member
                        list</a></li>
                <li><a href="http://forums.xonotic.org/misc.php?action=help" title="help">Help</a></li>
                <li><a href="http://forums.xonotic.org/search.php" title="search the forums">Search</a></li>
                <ul>
        </div>

    </div>

    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <p><small>XonStat is an open source (AGPLv3) project created by <a
                        href="https://gitlab.com/Antibody">Antibody</a>. Fork it or log issues <a
                        href="https://gitlab.com/xonotic/xonstat-go" title="Go to the project page">on GitLab!</a></small>
            </p>
        </div>
    </div>

</div>