<div id="footer">
    <div class="grid-x grid-padding-x">
        <div class="cell small-12 medium-2 medium-offset-2">
            <h4>Home</h4>
            <ul>
                <li><a href="http://www.xonotic.org/download/" title="Get the game">Download</a></li>
                <li><a href="http://www.xonotic.org/posts/" title="Read the blog">Blog</a></li>
                <li><a href="/" title="See latest game and player statistics">Stats</a></li>
                <li><a href="http://www.xonotic.org/team/" title="Meet team Xonotic">Team Xonotic</a></li>
                <li><a href="http://www.xonotic.org/faq/" title="Read the FAQ">FAQ</a></li>
            </ul>
        </div>

        <div class="cell small-12 medium-2">
            <h4>Media</h4>
            <ul>
                <li><a href="http://www.xonotic.org/images/"
                        title="View images and screenshots of Xonotic">Screenshots</a></li>
                <li><a href="http://www.xonotic.org/videos/" title="View videos about Xonotic">Videos</a></li>
            </ul>
        </div>

        <div class="cell small-12 medium-2">
            <h4>Development</h4>
            <ul>
                <li><a href="https://gitlab.com/groups/xonotic" title="View the source code">Source code (git)</a></li>
                <li><a href="https://gitlab.com/groups/xonotic/-/issues"
                        title="Development tracker">Issue Tracker</a></li>
                <li><a href="https://gitlab.com/xonotic/xonotic/wikis/home" title="View the wiki">Wiki</a></li>
            </ul>
        </div>

        <div class="cell small-12 medium-2">
            <h4>Forums</h4>
            <ul>
                <li><a href="http://forums.xonotic.org/member.php?action=register"
                        title="Register for the forums">Register</a></li>
                <li><a href="http://forums.xonotic.org/memberlist.php" title="View the forum member list">Member
                        list</a></li>
                <li><a href="http://forums.xonotic.org/misc.php?action=help" title="Help">Help</a></li>
                <li><a href="http://forums.xonotic.org/search.php" title="Search the forums">Search</a></li>
                <ul>
        </div>

    </div>

    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <p><small>XonStat is an open source (AGPLv3) project created by <a
                        href="https://gitlab.com/Antibody">Antibody</a>. Fork it or log issues <a
                        href="https://gitlab.com/xonotic/xonstat-go" title="Go to the project page">on GitLab!</a></small>
            </p>
        </div>
    </div>

</div>
