{{template "base" .}}

{{define "subtitle"}}Game info for {{.GameTypeDescr}} on {{.Map.Name}} - {{end}}

{{define "title"}}Game Information{{end}}

{{define "canonical-url"}}<link rel="canonical" href="/game">{{end}}

{{define "body"}}
<div class="grid-x grid-padding-x">
  <div class="cell small-12">
    <h2>Game #{{.GameID}} <i class="fa fa-info-circle" title="server match ID {{.MatchID}}"></i></h2>
    <p>
      <span class="sprite sprite-{{.GameTypeCd}}"></span> {{.GameTypeDescr}} <br />
      Played {{.CreateDt.Fuzzy}} <span class="abstime" data-epoch="{{.CreateDt.Epoch}}" title="{{.CreateDt.UTCStr}}"> <i
          class="fa fa-info-circle"></i></span><br />
      Server: <a href="{{urlFor "server_info" (intToString .Server.ServerID)}}"
        name="Server info page for {{.Server.Name}}">{{.Server.Name}}</a><br />
      Map: <a href="{{urlFor "map_info" (intToString .Map.MapID)}}"
        name="Map info page for {{.Map.Name}}">{{.Map.Name}}</a><br />
      {{if .Duration}}
      Duration: <span>{{.Duration.Long}}</span>
      {{end}}
    </p>
  </div>
</div>

<div class="grid-x grid-padding-x">
  {{template "scoreboard.partial.html" .}}
</div>

{{if .Forfeits}}
<div class="grid-x grid-padding-x">
  <div class="cell text-center">
    <p>
      <b><a id="forfeits"></a>Forfeits: </b>
      {{range $index, $forfeit := .Forfeits}}
      {{- if $index -}}, {{ end -}}
      {{- if gt $forfeit.PlayerID 2 -}}
      {{- $forfeit.Nick.NickHTML -}}
      {{- else -}}
      {{- $forfeit.Nick.NickHTML -}}
      {{- end -}}
      {{- end -}}
    </p>
  </div>
</div>
{{end}}

{{if .Spectators}}
<div class="grid-x grid-padding-x text-center">
  <div class="cell text-center">
    <p>
      <b><a id="spectators"></a>Spectators: </b>
      {{range $index, $spectator := .Spectators}}
      {{- if $index -}}, {{ end -}}
      {{- if gt $spectator.PlayerID 2 -}}
      {{- $spectator.Nick.NickHTML -}}
      {{else}}
      {{- $spectator.Nick.NickHTML -}}
      {{end}}
      {{end}}
    </p>
  </div>
</div>
{{end}}

{{if .ShowWeaponCharts}}
<div class="grid-x grid-padding-x">
  <div class="cell small-12">
    <h3><a id="damage"></a>Damage</h3>
    <canvas id="damageChart"></canvas>
  </div>
</div>

<div class="grid-x grid-padding-x">
  <div class="cell small-12">
    <h3><a id="accuracy"></a>Accuracy</h3>
    <canvas id="accuracyChart"></canvas>
  </div>
</div>
{{end}}

{{if .ShowFragMatrix}}
<div class="grid-x grid-padding-x">
  <div class="cell small-12">
    <h3><a id="matrix"></a>Frag Matrix</h3>
    {{template "fragmatrix.partial.html" .}}
  </div>
</div>
{{end}}


{{end}}

{{define "extra-js"}}
{{if .ShowWeaponCharts}}
<script type='text/javascript' src='/static/js/vendor/chart.umd.min.js'></script>
<script type='text/javascript' src='/static/js/weaponCharts.js'></script>
<script type="text/javascript">
  jQuery.getJSON("/game/{{.GameID}}/weapons", function (data) {
    drawDamageChart("damageChart", data);
    drawAccuracyChart("accuracyChart", data);
  });
</script>
{{end}}
{{end}}
