{{template "base" .}}

{{define "subtitle"}}Game Index - {{end}}

{{define "title"}}Game Index{{end}}

{{define "canonical-url"}}<link rel="canonical" href="/games">{{end}}

{{define "body"}}
<div class="grid-x grid-padding-x">
  <div class="cell small-12 text-center">
      <ul class="gametype-list">
        {{range .GameTypeCds}}
          <li class="text-center 
          {{if eq . $.ActiveGameTypeCd}}
          active
          {{end}}
          ">
            <a href="{{urlFor "games"}}?game_type_cd={{.}}" alt="{{.}}" title="Show only {{.}} games">
              <span class="sprite sprite-{{.}}"></span><br />
              {{.}} <br />
            </a>
          </li>
          {{end}}
      </ul>
  </div>
</div>

{{if gt (len .RecentGames) 0}}
<div class="grid-x grid-padding-x">
  <div class="cell small-12">
    {{template "recentgames.partial.html" .RecentGames}}
  </div>
</div>
{{else}}
    <h2 class="text-center">Sorry, no more games to show!</h2>
{{end}}

{{if .ShowMoreLink}}
<div class="cell small-12">
  <a  href="{{urlFor "games"}}?{{.NextQueryStr}}" name="Next Page">Next <i class="fa fa-arrow-right"></i></a>
</div>
{{end}}

{{end}}
