{{template "base" .}}

{{define "subtitle"}}Game Activity Heatmap - {{end}}

{{define "title"}}Game Activity Heatmap{{end}}

{{define "body"}}

<div id="heatmapPanel" class="grid-x grid-padding-x">
  <div class="cell small-12">
    <div id="heatmap" class="text-center"></div>
  </div>
</div>

{{end}}

{{define "extra-js"}}
<script type='text/javascript' src='/static/js/vendor/d3.js'></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script type='text/javascript' src='/static/js/heatmap.js'></script>
{{end}}