{{template "base" .}}

{{define "subtitle"}}Leaderboard - {{end}}

{{define "hero_unit"}}
  <div class="text-center">
    <img src="/static/css/img/xonotic-logo.png" />
    {{if eq .StatLine ""}}
      <p class="statline">Tracking Xonotic statistics since October 2011.</p>
    {{else}}
      <p class="statline">Tracking {{.StatLine}} since October 2011.</p>
    {{end}}
    {{if ne .DayStatLine ""}}
      <p class="statline">{{.DayStatLine}} in the past 24 hours.</p>
    {{end}}
  </div>
{{end}}

{{define "body"}}
<div class="row">
  <div class="small-12 large-4 columns">
    <h5>Most Active Players <a href="" title="See more player activity"><i class="fa fa-plus-circle"></i></a></h5>
    {{template "activeplayers.partial.html" .ActivePlayers}}
  </div>

  <div class="small-12 large-4 columns">
    <h5>Most Active Servers <a href="" title="See more server activity"><i class="fa fa-plus-circle"></i></a></h5>
    {{template "activeservers.partial.html" .ActiveServers}}
  </div>

  <div class="small-12 large-4 columns">
    <h5>Most Active Maps <a href="" title="See more map activity"><i class="fa fa-plus-circle"></i></a></h5>
    {{template "activemaps.partial.html" .ActiveMaps}}
  </div>

</div>

<div class="row">

  <div class="small-12 columns">
    <h5>Recent Games <a href=""><i class="fa fa-plus-circle"></i></a></h5>
    {{template "recentgames.partial.html" .RecentGames}}
  </div>

</div>
{{end}}