{{template "base" .}}

{{define "subtitle"}}Leaderboard - {{end}}

{{define "canonical-url"}}<link rel="canonical" href="/leaderboard">{{end}}

{{define "hero_unit"}}
  <div class="text-center">
    <img src="/static/css/img/xonotic-logo.png" />
    {{if eq .StatLine ""}}
      <p class="statline">Tracking Xonotic statistics since October 2011.</p>
    {{else}}
      <p class="statline">Tracking {{.StatLine}} since October 2011.</p>
    {{end}}
    {{if ne .DayStatLine ""}}
      <p class="statline">{{.DayStatLine}} in the past 24 hours.</p>
    {{end}}
  </div>
{{end}}

{{define "body"}}
<div class="grid-x grid-padding-x">
  <div class="cell small-12 large-4">
    <h5>Most Active Players <a href="{{urlFor "topactive"}}" title="See more player activity"><i class="fa fa-plus-circle"></i></a></h5>
    {{template "activeplayers.partial.html" .ActivePlayers}}
  </div>

  <div class="cell small-12 large-4">
    <h5>Most Active Servers <a href="{{urlFor "topservers"}}" title="See more server activity"><i class="fa fa-plus-circle"></i></a></h5>
    {{template "activeservers.partial.html" .ActiveServers}}
  </div>

  <div class="cell small-12 large-4">
    <h5>Most Active Maps <a href="{{urlFor "topmaps"}}" title="See more map activity"><i class="fa fa-plus-circle"></i></a></h5>
    {{template "activemaps.partial.html" .ActiveMaps}}
  </div>
</div>

<div class="grid-x grid-padding-x">
  <div class="cell small-12">
    <h5>Recent Games <a href="{{urlFor "games"}}"><i class="fa fa-plus-circle"></i></a></h5>
    {{template "recentgames.partial.html" .RecentGames}}
  </div>
</div>
{{end}}
