{{template "base" .}}

{{define "subtitle"}}Map info for {{.Map.Name}} - {{end}}

{{define "title"}}Map Information{{end}}

{{define "canonical-url"}}<link rel="canonical" href="/map">{{end}}

{{define "body"}}
<div class="grid-x grid-padding-x">

  <div class="cell small-12">
    <h2>{{.Map.Name}}</h2>
    <p>
      Added <span class="abstime" data-epoch="{{.Map.CreateDt.Epoch}}"
        title="{{.Map.CreateDt.UTCStr}}">{{.Map.CreateDt.Fuzzy}}</span> <br />
    </p>
  </div>

  <div class="cell small-12 large-4">
    {{if gt (len .TopScoringPlayers) 0}}
    <h5>Top Scoring Players</h5>
    {{template "activeplayerscores.partial.html" .TopScoringPlayers}}
    {{else}}
    <h5>No Recent Top Scoring Players!</h5>
    {{end}}
  </div>

  <div class="cell small-12 large-4">
    {{if gt (len .TopActivePlayers) 0}}
    <h5>Most Active Players</h5>
    {{template "activeplayers.partial.html" .TopActivePlayers}}
    {{else}}
    <h5>No Recent Active Players!</h5>
    {{end}}
  </div>

  <div class="cell small-12 large-4">
    {{if gt (len .TopActiveServers) 0}}
    <h5>Most Active Servers</h5>
    {{template "activeservers.partial.html" .TopActiveServers}}
    {{else}}
    <h5>No Recent Active Players!</h5>
    {{end}}
  </div>

  <div class="cell small-12 large-12">
    {{if gt (len .RecentGames) 0}}
    <h5>Recent Games <a href="{{urlFor "games"}}?map_id={{.Map.MapID}}"><i class="fa fa-plus-circle"></i></a></h5>
    {{template "recentgames_nomap.partial.html" .RecentGames}}
    {{else}}
    <h5>No Recent Games!</h5>
    {{end}}
  </div>

</div>
{{end}}
