<div class="title-bar" data-responsive-toggle="nav" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="nav"></button>
    <div class="title-bar-title">Menu</div>
</div>

<ul id="nav" class="vertical medium-horizontal menu align-center" data-responsive-menu="drilldown medium-dropdown">
    <li><a href="#0"><i class="fi-list"></i> <span>Xonotic</span></a></li>
    <li><a href="http://www.xonotic.org/download/" title="Download the game"><i class="fa fa-download"></i> Download</a></li>
    <li><a href="http://www.xonotic.org/media/" title="View screenshots and videos"><i class="fa fa-picture-o"></i> Media</a></li>
    <li><a href="http://forums.xonotic.org/" title="Visit the community forums"><i class="fa fa-comments"></i> Forums</a></li>
    <li><a href="http://www.xonotic.org/posts/" title="Read the blog"><i class="fa fa-book"></i> Blog</a></li>
    <li>
        <a href="/" title="View player statistics and recent games"><i class="fa fa-bar-chart"></i> Stats</a>
        <ul class="vertical menu">
            <li><a href='{{urlFor "leaderboard"}}' title="Leaderboard">Leaderboard</a></li>
            <li><a href='{{urlFor "player_index"}}' title="Player Index">Players</a></li>
            <li><a href='{{urlFor "games"}}' title="Game Index">Games</a></li>
            <li><a href='{{urlFor "server_index"}}' title="Server Index">Servers</a></li>
            <li><a href='{{urlFor "map_index"}}' title="Map Index">Maps</a></li>
        </ul>
    </li>
    <li><a href="https://gitlab.com/groups/xonotic" title="Contribute to Xonotic"><i class="fa fa-wrench"></i> Contribute</a></li>
    <li><a href="https://xonotic.org/guide" title="Read the beginner's guide"><i class="fa fa-forward"></i> Guide</a></li>
</ul>