{{template "base" .}}

{{define "subtitle"}}Player info for {{.Player.Nick.NickStripped}} - {{end}}

{{define "title"}}Player Information{{end}}

{{define "canonical-url"}}<link rel="canonical" href="/player">{{end}}

{{define "body"}}
<div class="grid-x grid-padding-x">
  <div class="cell small-12">
    <h2>{{.Player.Nick.NickHTML}}</h2>
    <p>
      Joined <span class="abstime" data-epoch="{{.Player.CreateDt.Epoch}}"
        title="{{.Player.CreateDt.UTCStr}}">{{.Player.CreateDt.Fuzzy}}</span> (player #{{.Player.PlayerID}})
      {{ if .Player.CakeDayInd }}
      <i class="fa fa-birthday-cake" title="Happy cake day!"> </i>
      {{ end }}
      <br />
    </p>
  </div>
</div>

<div class="grid-x grid-padding-x">
  <div class="cell small-12">
    <ul class="tabs text-center" data-tabs id="gametype-tabs">
      {{range .GameTypeSummaries}}
      <li class='tabs-title {{if eq .GameTypeCd "overall"}}is-active{{end}}' data-game-type-cd="{{.GameTypeCd}}" data-player-id="{{$.Player.PlayerID}}">
        <a href="#tab-{{.GameTypeCd}}" {{if eq .GameTypeCd "overall"}}aria-selected="true"{{end}} title="{{.GameTypeCd}}">
          <span class="sprite sprite-{{.GameTypeCd}}"></span> <br />
          {{.GameTypeCd}} <br />
          <small>({{.Games}})</small>
        </a>
      </li>
      {{end}}
    </ul>
  </div>
</div>

<div class="tabs-content" data-tabs-content="gametype-tabs">
  {{range .GameTypeSummaries}}
  <div class='tabs-panel {{if eq .GameTypeCd "overall"}}is-active{{end}}' id="tab-{{.GameTypeCd}}">
    <div class="grid-x grid-padding-x">

      <!-- LEFT PANEL -->
      <div class="cell small-6">
        <p>
          Games Played: <small>{{.Games}} <br /></small>

        {{with (index $.OverallStats .GameTypeCd)}}
          Time Played: <small>{{.TimePlayed.Long}} <br /></small>

          Last Played: <small><span class="abstime" data-epoch="{{.LastPlayed.Epoch}}"
              title="{{.LastPlayed.UTCStr}}">{{.LastPlayed.Fuzzy}}</span> <br /></small>
        {{end}}
        </p>
      </div>

      <!-- RIGHT PANEL -->
      <div class="cell small-6">
        <p>
          {{if eq .GameTypeCd "overall" "as" "ca" "ctf" "dom" "duel" "ft" "freezetag" "kh" "nb" "nexball" "rune" "tdm"}}
          Win Percentage: <small>{{printf "%.2f" .WinRatio}}% ({{.Wins}} wins, {{.Losses}} losses)</small> <br />
          {{end}}

        {{with (index $.OverallStats .GameTypeCd)}}
        {{if eq .GameTypeCd "cts" "nb" "nexball"}}
        {{else}}
          K/D Ratio: <small>{{printf "%.2f" .KDRatio}} ({{.Kills}} kills, {{.Deaths}} deaths)<br /></small>
        {{end}}
        {{end}}

        {{with (index $.Skills .GameTypeCd)}}
          Skill: <small>{{printf "%.2f" .Mu}} ± {{printf "%.2f" .Sigma}}</small>
        {{end}}
        </p>
      </div>

    </div>
  </div>
  {{end}}
</div>

<div id="accuracyPanel" class="grid-x grid-padding-x">
  <div class="cell small-12">
    <h3><a id="playerAccuracy"></a>Accuracy</h3>
    <canvas id="playerAccuracyChart"></canvas>
  </div>
</div>

<div id="damagePanel" class="grid-x grid-padding-x">
  <div class="cell small-12">
    <h3><a id="playerDamage"></a>Damage</h3>
    <canvas id="playerDamageChart"></canvas>
  </div>
</div>

<div class="cell small-12 large-12">
  <h5>Recent Games <a id="more-recent-games" href='{{urlFor "games"}}?player_id={{.Player.PlayerID}}'><i
        class="fa fa-plus-circle"></i></a></h5>
  <div id="recent-games"></div>
</div>

{{end}}

{{define "extra-js"}}
<script type='text/javascript' src='/static/js/vendor/chart.umd.min.js'></script>
<script type='text/javascript' src='/static/js/weaponCharts.js'></script>
<script type="text/javascript">
  jQuery.getJSON("/player/{{.Player.PlayerID}}/weapons", function (data) {
    if (data.game_ids.length > 3) {
      drawPlayerAccuracyChart("playerAccuracyChart", data);
      drawPlayerDamageChart("playerDamageChart", data);
    } else {
      // If we don't have much data, we'll remove the panels entirely.
      document.getElementById("accuracyPanel").remove();
      document.getElementById("damagePanel").remove();
    }
  });

  jQuery.get("/player/{{.Player.PlayerID}}/recentGamesFragment", function (html) {
    $("#recent-games").replaceWith(html);
  });

  // Find all attributes that have a "game-type-cd" data attribute, then register click events
  $('[data-game-type-cd]').each(function (i, e) {
    e.addEventListener("click", function () {
      // Update the "more" recent games link (plus sign)
      var moreRecentGamesURL = `/games?player_id=${e.dataset.playerId}&game_type_cd=${e.dataset.gameTypeCd}`;
      document.getElementById("more-recent-games").href = moreRecentGamesURL;

      // Update the data in the weapon charts.
      var weaponURL = `/player/${e.dataset.playerId}/weapons?game_type_cd=${e.dataset.gameTypeCd}`;

      jQuery.getJSON(weaponURL, function (data) {
        try {

          window.playerAccuracyChart.data.labels = data.game_ids;
          window.playerAccuracyChart.data.datasets = data.accuracy;
          window.playerAccuracyChart.update();

          window.playerDamageChart.data.labels = data.game_ids;
          window.playerDamageChart.data.datasets = data.damage;
          window.playerDamageChart.update();
        } 
        catch {
          console.log("No accuracy or damage panels defined.");
        }
      });

      // Update the data in the recent games table.
      var recentGamesURL = `/player/${e.dataset.playerId}/recentGamesFragment?game_type_cd=${e.dataset.gameTypeCd}`;

      jQuery.get(recentGamesURL, function (html) {
        $("#recent-games").replaceWith(html);
      });

    });
  });

</script>
{{end}}
