<table id="player-index-table" class="table-hover table-condensed">
    <thead>
        <tr>
            <th class="small-3">#</th>
            <th class="small-5">Nick</th>
            <th class="small-3">Joined</th>
            <th class="small-1">Games</th>
        </tr>
    </thead>
    <tbody>
        {{template "playerindexrows.partial.html" .}}
    </tbody>
</table>