    <table class="table-hover table-condensed" id="recent-games">
      <thead>
        <tr>
          <th class="small-1 text-center"></th>
          <th class="small-1">Type</th>
          <th class="show-for-medium small-3">Server</th>
          <th class="show-for-medium small-2">Map</th>
          <th class="show-for-large small-2">Time</th>
          <th class="small-3">Winner</th>
        </tr>
      </thead>
      <tbody>
      {{range .}}
        <tr>
          <td class="text-center"><a class="button tiny" href="{{urlFor "game_info" (intToString .GameID)}}" title="View detailed information about this game">view</a></td>
          <td class="text-center"><span class="sprite sprite-{{.GameTypeCd}}" alt="{{.GameTypeCd}}" title="{{.GameTypeDescr}}"></span></td>
          <td class="show-for-medium no-stretch"><a href="{{urlFor "server_info" (intToString .ServerID)}}" title="Go to the detail page for this server">{{.ServerName}}</a></td>
          <td class="show-for-medium"><a href="{{urlFor "map_info" (intToString .MapID)}}" title="Go to the map detail page for this map">{{.MapName}}</a></td>
          <td class="show-for-large"><span class="abstime" data-epoch="{{.CreateDt.Epoch}}" title="{{.CreateDt.UTCStr}}">{{.CreateDt.Fuzzy}}</span></td>
          <td class="no-stretch">
            {{if gt .WinningPlayerID 2}}
            <a href="{{urlFor "player_info" (intToString .WinningPlayerID)}}" title="Go to the player info page for this player">{{.WinningNickHTML}}</a>
            {{else}}
            {{.WinningNickHTML}}
            {{end}}
          </td>
        </tr>
      {{end}}
      </tbody>
    </table>
