{{if .TeamGameStats}}
{{range .TeamGameStats}}
    <div class="cell small-2 medium-1 teamscore">

        <div class="teamname {{.Color}}">
            {{.ColorInitCap}}
        </div>

        <div class="{{.Color}}">
            {{if eq $.GameTypeCd "ctf"}}
            {{.Caps}}
            {{else if eq $.GameTypeCd "ca"}}
            {{.Rounds}}
            {{else if eq $.GameTypeCd "nb"}}
            {{.Caps}}
            {{else}}
            {{.Score}}
            {{end}}
        </div>
    </div>

    {{if eq $.GameTypeCd "as"}}
        {{template "scoreboard-as.partial.html" (index $.PlayerGameStatsByTeam .Team)}}
    {{else if eq $.GameTypeCd "ca"}}
        {{template "scoreboard-ca.partial.html"  (index $.PlayerGameStatsByTeam .Team)}}
    {{else if eq $.GameTypeCd "ctf"}}
        {{template "scoreboard-ctf.partial.html" (index $.PlayerGameStatsByTeam .Team)}}
    {{else if eq $.GameTypeCd "dom"}}
        {{template "scoreboard-dom.partial.html" (index $.PlayerGameStatsByTeam .Team)}}
    {{else if eq $.GameTypeCd "ft"}}
        {{template "scoreboard-ft.partial.html" (index $.PlayerGameStatsByTeam .Team)}}
    {{else if eq $.GameTypeCd "freezetag"}}
        {{template "scoreboard-ft.partial.html" (index $.PlayerGameStatsByTeam .Team)}}
    {{else if eq $.GameTypeCd "kh"}}
        {{template "scoreboard-kh.partial.html" (index $.PlayerGameStatsByTeam .Team)}}
    {{else if eq $.GameTypeCd "nb"}}
        {{template "scoreboard-nb.partial.html" (index $.PlayerGameStatsByTeam .Team)}}
    {{else if eq $.GameTypeCd "nexball"}}
        {{template "scoreboard-nb.partial.html" (index $.PlayerGameStatsByTeam .Team)}}
    {{else if eq $.GameTypeCd "tdm"}}
        {{template "scoreboard-tdm.partial.html" (index $.PlayerGameStatsByTeam .Team)}}
    {{end}}
{{end}}
{{else}}
    {{if eq $.GameTypeCd "dm"}}
        {{template "scoreboard-dm.partial.html" $}}
    {{else if eq $.GameTypeCd "duel"}}
        {{template "scoreboard-duel.partial.html" $}}
    {{else if eq $.GameTypeCd "ka"}}
        {{template "scoreboard-ka.partial.html" $.PlayerGameStats}}
    {{else if eq $.GameTypeCd "keepaway"}}
        {{template "scoreboard-ka.partial.html" $.PlayerGameStats}}
    {{end}}
{{end}}