{{if .TeamGameStatsByTeam}}
    {{range $teamID := .TeamOrdering}}
        {{with $teamGameStat := index $.TeamGameStatsByTeam $teamID}}
            <div class="cell small-2 medium-1 teamscore">
        
                <div class="teamname {{$teamGameStat.Color}}">
                    {{$teamGameStat.ColorInitCap}}
                </div>
        
                <div class="{{$teamGameStat.Color}}">
                    {{if eq $.GameTypeCd "ctf"}}
                    {{.Caps}}
                    {{else if eq $.GameTypeCd "ca"}}
                    {{.Rounds}}
                    {{else if eq $.GameTypeCd "nb"}}
                    {{.Caps}}
                    {{else}}
                    {{.Score}}
                    {{end}}
                </div>
            </div>
        {{end}}
    
        {{if eq $.GameTypeCd "as"}}
            {{template "scoreboard-as.partial.html" (index $.PlayerGameStatsByTeam $teamID)}}
        {{else if eq $.GameTypeCd "ca"}}
            {{template "scoreboard-ca.partial.html"  (index $.PlayerGameStatsByTeam $teamID)}}
        {{else if eq $.GameTypeCd "ctf"}}
            {{template "scoreboard-ctf.partial.html" (index $.PlayerGameStatsByTeam $teamID)}}
        {{else if eq $.GameTypeCd "dom"}}
            {{template "scoreboard-dom.partial.html" (index $.PlayerGameStatsByTeam $teamID)}}
        {{else if eq $.GameTypeCd "ft" "freezetag"}}
            {{template "scoreboard-ft.partial.html" (index $.PlayerGameStatsByTeam $teamID)}}
        {{else if eq $.GameTypeCd "kh"}}
            {{template "scoreboard-kh.partial.html" (index $.PlayerGameStatsByTeam $teamID)}}
        {{else if eq $.GameTypeCd "nb" "nexball"}}
            {{template "scoreboard-nb.partial.html" (index $.PlayerGameStatsByTeam $teamID)}}
        {{else if eq $.GameTypeCd "tdm"}}
            {{template "scoreboard-tdm.partial.html" (index $.PlayerGameStatsByTeam $teamID)}}
        {{else if eq $.GameTypeCd "tka"}}
            {{template "scoreboard-tka.partial.html" (index $.PlayerGameStatsByTeam $teamID)}}
        {{else if eq $.GameTypeCd "tmayhem"}}
            {{template "scoreboard-tmayhem.partial.html" (index $.PlayerGameStatsByTeam $teamID)}}
        {{end}}
    {{end}}
{{else}}
    {{if eq $.GameTypeCd "cts"}}
        {{template "scoreboard-cts.partial.html" $.PlayerGameStats}}
    {{else if eq $.GameTypeCd "dm"}}
        {{template "scoreboard-dm.partial.html" $.PlayerGameStats}}
    {{else if eq $.GameTypeCd "duel"}}
        {{template "scoreboard-duel.partial.html" $.PlayerGameStats}}
    {{else if eq $.GameTypeCd "ka" "keepaway"}}
        {{template "scoreboard-ka.partial.html" $.PlayerGameStats}}
    {{else if eq $.GameTypeCd "mayhem"}}
        {{template "scoreboard-mayhem.partial.html" $.PlayerGameStats}}
    {{else if eq $.GameTypeCd "lms"}}
        {{template "scoreboard-lms.partial.html" $.PlayerGameStats}}
    {{end}}
{{end}}