<table class="game table-hover table-condensed small-10 medium-11">
    <thead class="tka">
        <tr>
            <th class="show-for-medium medium-1">Ping</th>
            <th class="small-5 medium-3">Nick</th>
            <th class="show-for-medium">Kills</th>
            <th class="show-for-medium">Deaths</th>
            <th class="show-for-medium">Pickups</th>
            <th>BC Time</th>
            <th>BC Kills</th>
            <th class="medium-1">Score</th>
        </tr>
    </thead>

    <tbody>
        {{range .}}
        <tr class="{{.Color}}">
            <td class="show-for-medium medium-1 text-center">
                {{- if eq .AvgLatency 0 -}}
                    -
                {{else}}
                    {{.AvgLatency}}
                {{end}}
            </td>

            <td class="small-5 medium-3 no-stretch">
                {{if gt .PlayerID 2}}
                <a href="{{urlFor "player_info" (intToString .PlayerID)}}" title="Go to the info page for this player"> {{- .Nick.NickHTML -}} </a>
                {{else}}
                    {{- .Nick.NickHTML -}}
                {{end}}
            </td>

            <td class="show-for-medium">{{.Kills}}</td>
            <td class="show-for-medium">{{.Deaths}}</td>
            <td class="show-for-medium">{{.Pickups}}</td>
            <td>{{.Time.Short}}</td>
            <td>{{.CarrierFrags}}</td>
            <td class="medium-1 player-score">{{.Score}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
