{{template "base" .}}

{{define "subtitle"}}Server info for {{.Server.Name}} - {{end}}

{{define "title"}}Server Information{{end}}

{{define "canonical-url"}}<link rel="canonical" href="/server">{{end}}

{{define "body"}}
<div class="grid-x grid-padding-x">
  <div class="cell small-12">
    <h2>{{.Server.Name}}</h2>
    <p>
      <a href='{{urlFor "heatmap"}}?server_id={{.Server.ServerID}}' title="popular times to play on this server">Popular times to play</a>
      <br />

      {{if .Server.IPAddr}}
        IP Address: 
        {{if gt .Server.Port 0}}
        {{.Server.IPAddr}}:{{.Server.Port}}
        {{else}}
        {{.Server.IPAddr}}
        {{end}}
        <br />
      {{end}}

      {{if .Server.Revision}}
        Revision: {{.Server.Revision}}
        <br />
      {{end}}

      Added <span class="abstime" data-epoch="{{.Server.CreateDt.Epoch}}" title="{{.Server.CreateDt.UTCStr}}">{{.Server.CreateDt.Fuzzy}}</span> <br />
    </p>
  </div>

  <div class="cell small-12 large-4">
    {{if gt (len .TopScoringPlayers) 0}}
    <h5>Top Scoring Players</h5>
    {{template "activeplayerscores.partial.html" .TopScoringPlayers}}
    {{else}}
    <h5>No Recent Top Scoring Players!</h5>
    {{end}}
  </div>

  <div class="cell small-12 large-4">
    {{if gt (len .TopActivePlayers) 0}}
    <h5>Most Active Players</h5>
    {{template "activeplayers.partial.html" .TopActivePlayers}}
    {{else}}
    <h5>No Recent Active Players!</h5>
    {{end}}
  </div>

  <div class="cell small-12 large-4">
    {{if gt (len .TopMapsPlayed) 0}}
    <h5>Most Active Maps</h5>
    {{template "activemaps.partial.html" .TopMapsPlayed}}
    {{else}}
    <h5>No Recent Active Maps!</h5>
    {{end}}
  </div>

  <div class="cell small-12 large-12">
    {{if gt (len .RecentGames) 0}}
    <h5>Recent Games <a href="{{urlFor "games"}}?server_id={{.Server.ServerID}}"><i class="fa fa-plus-circle"></i></a></h5>
    {{template "recentgames_noserver.partial.html" .RecentGames}}
    {{else}}
    <h5>No Recent Games!</h5>
    {{end}}
  </div>

</div>
{{end}}
