<table id="server-index-table" class="table-hover table-condensed">
    <thead>
        <tr>
            <th class="small-3">#</th>
            <th class="small-5">Name</th>
            <th class="small-3">Added</th>
            <th class="small-1">Games</th>
        </tr>
    </thead>
    <tbody>
        {{template "serverindexrows.partial.html" .}}
    </tbody>
</table>