[Unit]
Description=XonStat Application Server (1)

Requires=postgresql.service redis-server.service
Wants=network-online.target
After=network-online.target postgresql.service redis-server.service

[Service]
Type=exec
ExecStart=/home/xonstat/xonstat-go/xonstat-1 -c /home/xonstat/.xonstat.toml web --addr 127.0.0.1:6543
Restart=on-failure
User=xonstat

[Install]
WantedBy=multi-user.target
